services:

    #
    # New thread
    #
    fos_message.forms.new_thread.type.default:
        class: FOS\MessageBundle\Form\Type\NewThreadFormType
        arguments:
            - %fos_message.field_type.recipient%
            - %fos_message.field_type.subject%
            - %fos_message.field_type.content%

    fos_message.forms.new_thread.factory.default:
        class: FOS\MessageBundle\Form\Factory\NewThreadFormFactory
        arguments:
            - @form.factory
            - @fos_message.forms.new_thread.type
            - %fos_message.forms.new_thread.name%
            - %fos_message.forms.new_thread.model%

    fos_message.forms.new_thread.handler.default:
        class: FOS\MessageBundle\Form\Handler\NewThreadFormHandler
        arguments:
            - @fos_message.composer
            - @fos_message.sender
            - @fos_message.participant_provider

    #
    # Reply
    #
    fos_message.forms.reply.type.default:
        class: FOS\MessageBundle\Form\Type\NewThreadFormType
        arguments:
            - %fos_message.field_type.recipient%
            - %fos_message.field_type.subject%
            - %fos_message.field_type.content%

    fos_message.forms.reply.factory.default:
        class: FOS\MessageBundle\Form\Factory\NewThreadFormFactory
        arguments:
            - @form.factory
            - @fos_message.forms.new_thread.type
            - %fos_message.forms.new_thread.name%
            - %fos_message.forms.new_thread.model%