{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block tab_inbox %} class="active"{% endblock %}

{% block fos_message_content %}

    <h4>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h4>

    <a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

    <hr />

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
