{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block tab_sent %} class="active"{% endblock %}

{% block fos_message_content %}

    <h4>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h4>

    <hr />

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
